body
{
	background-color:  #23272a;
}



.box
{

	max-width: 20%;
	border: 4px rgb(50, 168, 162) solid;
	position: relative;
	border-radius: 40px;
	background-color: #fffae6;
	padding: 100px;
	float: left;
	margin-top: 20px;
	
}




@media all and (min-width:1366px)
{
	.box:nth-child(-n+7)
	{
		animation-name: aage;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}


	.box:nth-child(n+8)
	{
		animation-name: peeche;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}
}



@media all and (max-width:1120px) and (min-width:910px)
{
	.box:nth-child(-n+5)
	{
		animation-name: aage;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}


	.box:nth-child(n+6):nth-child(-n+9)
	{
		animation-name: peeche;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}


	.box:nth-child(n+10)
	{
		animation-name: aage;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}
}



@media all and (max-width:900px) and (min-width:690px)
{
	.box:nth-child(-n+4)
	{
		animation-name: aage;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}


	.box:nth-child(n+5):nth-child(-n+7)
	{
		animation-name: peeche;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}


	.box:nth-child(n+8):nth-child(-n+10)
	{
		animation-name: aage;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}


	.box:nth-child(n+10)
	{
		animation-name: peeche;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}
}




@media all and (max-width:680px) and (min-width: 474px)
{
	.box:nth-child(-n+3)
	{
		animation-name: aage;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}


	.box:nth-child(n+4):nth-child(-n+5)
	{
		animation-name: peeche;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}


	.box:nth-child(n+6):nth-child(-n+7)
	{
		animation-name: aage;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}


	.box:nth-child(n+8):nth-child(-n+9)
	{
		animation-name: peeche;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}


	.box:nth-child(n+10):nth-child(-n+11)
	{
		animation-name: aage;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}


	.box:nth-child(n+11)
	{
		animation-name: peeche;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}

}




@media screen and (max-width:460px)
{
	.box:nth-of-type(2n-1)
	{
		
		animation-name: aage;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}


	.box:nth-of-type(2n)
	{
		
		animation-name: peeche;
		animation-duration: 4s;
		animation-iteration-count: infinite;

	}

}


@keyframes aage
{
	0%
	{
		left:10px;
	}

	50%
	{
		left:400px;
	}
	
	100%
	{
		left:10px;
	}	
}


@keyframes peeche 
{
	0%
	{
		left:10px;
	}

	50%
	{
		left:-400px;
	}
	
	100%
	{
		left:10px;
	}	


}